
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
body { 
    padding-top: 70px; 
    /*height:1500px;*/
}
.row { 
    padding-left: 30px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.bottom {
  text-align: center;
  vertical-align: text-bottom;
  background-color: black;
  height: 100px;
}
.logos{
    position: relative;

    
    
    /*height: 100px;*/
    /*vertical-align: middle;*/


}

hr {
    size: 50;
    border-color: #9E2500;
}
/*.about-me{

}*/
p {
    color : black;
}
.bold{
    font-weight: bold;
}
.ital{
    font-style: italic;
}
.intro{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;


}
.about-me {
    height: 210px;
}
.personal_blurb{
    text-indent: 10%;

  text-align: center;

}

/*.tech-stack{
    min-height: 200px;
}*/
.experience{
    min-height: 120px;
}
#experience{
    vertical-align: bottom;
     text-align: center;
}
.section_title{
     text-align: center;
color: black;
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#intro {
 text-align: center;
color: white;
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#profile-pic{

    box-shadow: 10px 10px 5px #888888;
    vertical-align: middle;
    
}

img{
    max-width: 100%;
height: auto;
max-height: 100%;
}
h1{
font-family: 'Josefin Sans', sans-serif;
font-size: 60px;

}

.white_text{
    color: white;
}
.fa-github{
    color: #9E2500;
}
.fa-envelope-o{
    color: #9E2500;
}
.fa-linkedin{
    color: #9E2500;
}
.fa-plus{
    color: white;
}
